html {
  height: 100%;
}

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

div.container {
	overflow: hidden;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 720px;
	display: table;
	max-height: 720px;
	table-layout: fixed;
}

div.game-controller {
	width: 60%;
	text-align: center
}

div.game-container {
	margin-top: 0;
	width: 500px;
	height: 500px;
	display: inline-block
}

div.gamefield {
	display: table-cell;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}

div.info-panel {
	overflow: hidden;
	display: table-cell;
	vertical-align: top;
	width: 40%;
	height: 100%;
	padding-top: 3%;
	padding-right: 10px;
}

h1.title {
	text-align: left;
	float: none;
	font-size: 4em;
	margin-top: 4px;
	position: absolute;
}

.game-intro {
	display: block;
	float: none;
	text-align: center;
	line-height: inherit;
}

.scores-container {
	display: block;
	float: none;
	height: 100px
}

.input-container {
	width: 100%;
	margin-top: 20px
}

.input-item {
	display: table;
	background: rgba(48, 0, 0, 0.33);
	color: #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 2px;
	width: 85%;
}

.input-item-invalid {
	text-decoration: line-through;
	opacity: 0.33;
	-moz-opacity: 0.33;
	-webkit-opacity: 0.33;
}

.input-username, .input-key {
	display: table-cell;
	vertical-align: middle;
	line-height: 1
}

.input-username {
	width: 80%;
	font-weight: bold;
}

.input-key {
	width: 20%;
	text-align: right;
	/*font-family: "Source Sans Pro";*/
}

.input-badge {
  color: #776e65;
	border: none;
	font-size: 0.8em;
	border-radius: 2px;
	margin-left: 2px;
	font-weight: normal;
	font-style: italic;
	min-width: 16px;
	height: 16px;
	max-height: 16px;
	padding-top: 4px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	display: inline-block;
	float: right;
}

.input-badge-4 {
    background: #ede0c8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}
.input-badge-8 {
    color: #f9f6f2;
    background: #f2b179;
}
.input-badge-16 {
    color: #f9f6f2;
    background: #f59563;
}
.input-badge-32 {
    color: #f9f6f2;
    background: #f67c5f;
}
.input-badge-64 {
    color: #f9f6f2;
    background: #f65e3b;
}
.input-badge-128 {
	font-weight: bold;
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
}
.input-badge-256 {
	font-weight: bold;
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
}
.input-badge-512 {
	font-weight: bold;
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
}
.input-badge-1024 {
	font-weight: bold;
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
}

.scoretable > table {
	margin-left: 25%;
	width: 50%;
	line-height: 1
}


.time-container:after {
content: "Time"; }

.time-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  .time-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .time-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container, .best-container, .time-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 10px;
}