<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Icedream.TwitchPlays2048.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Icedream.TwitchPlays2048.Properties.Settings>
            <setting name="TwitchUsername" serializeAs="String">
                <value>YourTwitchUsername</value>
            </setting>
            <setting name="TwitchPassword" serializeAs="String">
                <value>oauth:xxxxxxxxxxxxxxxxxxxxxxx</value>
            </setting>
            <setting name="SocketPort" serializeAs="String">
                <value>57123</value>
            </setting>
            <setting name="Simulation" serializeAs="String">
                <value>True</value>
            </setting>
        </Icedream.TwitchPlays2048.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
